* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #24292e;
  height: 64px;
  padding: 1em;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 1000;
  color: white;
}
.header__div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__div--right-flex-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}
.header__div--inner-wrapper{
  padding: 0px 12px;
}
.form {
  padding: 1em;
}
.form__input {
  border-radius: 5px;
  width: 272px;
  height: 30px;
  border: 1px solid white;
  background-color: #24292e;
  color: white;
  padding: 0px 12px;
  box-sizing: border-box;
}
.form__input::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.nav {
  display: flex;
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: #ffffff;
  opacity: 1;
}
.link:hover{
  opacity: 0.5;
}
.svg-icon{
    fill: currentColor;
}
.link--block {
  display: block;
  padding: 0 1em;
}
.link--pad{
    padding: 0px 12px;
}
.link--down-caret{
    font-size: x-small;
    width: 8px;
    height: 4px;
    position: relative;
    bottom: 3px; /* Nudge caret symbol up for visual alignment */
}
.link--black-color{
    color: black;
    padding: 1em;
    border-bottom: 0px solid #fafbfc;
}
.link--black-color:hover{
    border-bottom: 10px solid #fafbfc;
}
.main {
    padding: 2em;
}
.tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}
.tab--padded-span{
    padding: 1em;
}